$information-phone: "(max-width: 767px)";

@media #{$information-phone} {
  .columns .column:first-child{
    display: none;
  }

  .navbar-item:last-child {
    height: 2em;
  }

  .navbar-item:last-child .link-button {
    float: left;
    padding: 0 0.45rem 0.45em 0;
  }

  .columns .column{
    max-width: 720px;
  }

  .navbar-burger {
    color: black;
    float: right;
  }
}