$information-small-phone: "(min-width:320px) and (max-width: 480px)";

@media #{$information-small-phone} {
  .columns .column{
    max-width: 480px;
  }

  .form-container fieldset {
    margin: 1em 0 1em 0;
  }
}