$information-small-phone: "screen and (max-width: 469px)";

@media #{$information-small-phone} {
  .form-container {
    max-width: 540px;
    .col {
      flex: 0 0 75%;
      max-width: 75%
    }
  }
}