$information-tablet: "(min-width: 768px) and (max-width: 991px)";

@media #{$information-tablet} {
  .columns .column:first-child{
    display: none;
  }

  .navbar-item:last-child {
    height: 2em;
  }

  .navbar-item:last-child .link-button {
    float: left;
    padding: 0 0.45rem 0.45em 0;
  }

  .columns .column{
    max-width: 991px;
  }

  .navbar-burger {
    color: black;
    float: right;
  }
}