$information-tablet: "(min-width: 768px) and (max-width: 1023px)";

@media #{$information-tablet} {
  .header {
    grid-template-columns: auto auto;
  }

  .menu {
    margin-right: 0;
    visibility: visible;
  }

  .header__title {
    margin: 1rem 1rem;
  }

  .post {
    min-height: 0;
  }

  .section {
    margin: 0 1em 0 1em;
  }

  .not-found {
    min-height: 77vh;
  }

  /* About */
  .hero {
    height: 55vh;
    background-image: url("../images/about-picture-1024w.webp");
  }

  /* Projects */
  .content {
    max-width: 95%;
    min-height: 80vh;
  }

  .card {
    margin-left: 1em;
    margin-right: 1em;
  }

  .content .message {
    width: 100%;
    margin-left: 5%;
  }

  /* footer */
  .footer__contact {
    padding: 1.75em 0 1.75em 0;
    flex-direction: unset;
  }

  .footer__contact__item {
    padding-bottom: 0;
  }
}

$small-pc: "(min-width: 1024px) and (max-width: 1281px)";

@media #{$small-pc} {
  .header {
    grid-template-columns: auto auto;
  }

  .menu {
    margin-right: 0;
  }

  .header__title {
    margin: 1rem 1rem;
  }

  .post {
    min-height: 56vh;
  }

  .section {
    margin: 0 1em 0 1em;
  }

  .not-found {
    min-height: 77vh;
  }

    /* About */
  .hero {
    height: 59.6vh;
    background-size: contain;
  }

  /* Projects */
  .content {
    max-width: 100%;
    min-height: 85vh;
  }

  .card {
    margin-left: 1em;
    margin-right: 1em;
  }

  .content .message {
    width: 100%;
  }

  /* footer */
  .footer__contact {
    padding: 1.75em 0 1.75em 0;
    flex-direction: unset;
  }

  .footer__contact__item {
    padding-bottom: 0;
  }
}