coverage
django==2.1.7
djangorestframework==2.4
django-cors-headers==2.1.0
django-heroku
django-messages
django-user-agents
dj-database-url
drfapikey
gunicorn
mysqlclient
psycopg2-binary
pytest
pyyaml
python-decouple
sqlparse
ua-parser
user-agents
whitenoise