asgiref==3.3.1
attrs==20.3.0
coverage==5.4
dj-database-url==0.5.0
Django==3.1.7
django-cors-headers==3.7.0
django-heroku==0.3.1
django-messages==0.6.0
django-user-agents==0.4.0
djangorestframework==3.12.2
drfapikey==0.0.3
gunicorn==20.0.4
iniconfig==1.1.1
mysqlclient==2.0.3
packaging==20.9
pluggy==0.13.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
python-decouple==3.4
pytz==2021.1
PyYAML==5.4.1
sqlparse==0.4.1
toml==0.10.2
ua-parser==0.10.0
user-agents==2.2.0
whitenoise==5.2.0
