{% extends 'frontend/global/base.html' %}
{% block content %}

{% include 'includes/messages.html' %}

<form action="{% url 'contact:submit' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {% include 'includes/field.html' with field=form.name %}
        </div>
        <div class="col-md-6">
            {% include 'includes/field.html' with field=form.email %}
        </div>
        <div class="col-md-6">
            {% include 'includes/field.html' with field=form.phone %}
        </div>
        <div class="col-md-6">
            {% include 'includes/field.html' with field=form.subject %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'includes/field.html' with field=form.message %}
        </div>
    </div>
    <input class="btn" type="submit" value="Save" />
</form>
{% endblock %}