@import "~bulma/bulma.sass";

/* Header */
.navbar {
  color: white;
  border-bottom: 2px solid #003847;
}
.navbar .navbar-item {
  color: grey;
  font-weight: bold;
}

.navbar .navbar-item:hover{
  color: black;
  background-color: white;
}

.navbar .name-item {
  color: darkred;
  font-weight: bold;
  font-size: 1.2em;
  pointer-events:none;
  padding-left: 0;
}

.flag-icon-background {
  display: block;
  width: 2em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  background-position: 0;
  background-size: contain;
}

/* Profile card */
.card .card-content {
  padding: 1.5rem 0 1.5rem 0.10rem;
}

.card .card-content .icon{
  width: 1.3rem
}

.card .card-content .fa-label{
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.card .card-content .media-left {
  margin-right: 0.20rem;
  display:inline-block;
  vertical-align:middle;
}

.card .card-content .media-content {
  display:inline-block;
  vertical-align:middle;
}

/* Body */
body, button, input, select, textarea {
  font-family: Merriweather, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.title.is-1 {
  margin-bottom: unset;
}

.container-wrap.inside-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.columns .column:nth-child(1) {
  padding-right: 0.1em;
}

.display-block {
  text-align: justify;
}

.about-image {
  margin-bottom: 1em;
}

/* Form */
.form-container {
  padding: 0 50px 0;
  margin: 15px 0 0;
}

.link-button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0 0.45rem;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

form {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0.75rem;
}


fieldset {
  margin: 1em 1em 1em 1em;
}


.field:not(:last-child) {
  margin-bottom: 0.75rem
}


.row {
  display: flex;
}


.col {
  position: relative;
  width: 100%;
}


fieldset {
  border: none;
}

label {
  display: inline-block;
  width: 30%
}

button {
  -webkit-appearance: none;
  color: whitesmoke;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.375em - 1px) 1em calc(0.375em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1.25rem !important;
  height: 2.25em;
  float: right;
}

/* Projects List */

.projects-list {
  margin: 25px 0 0;
}

.projects-list .project-content {
  overflow: auto;
  vertical-align: center;
  margin: 3em 0 0 0;
}

.projects-list .project-image {
  float: left;
  margin-right: 1em;
  max-width: 32%;
}

.projects-list .project-image img {
  vertical-align: middle;
  border-radius: 10px;
}

.projects-list .project-info a {
  color: darkred;
  font-weight: bold;
  font-size: 1.3em;
}

.projects-list .project-info a:hover {
  color: black;
  font-weight: bold;
}

.coming-soon {
  margin-top: 1em;
}

/* Footer */

.footer {
  text-align: center;
  background-color: white;
  border-top: 2px solid #003847;
}

.footer .content .social-links {
  margin: 0.5em 0.5em;
  padding-left: 25%;
  padding-right: 25%;
}

.footer .content .social-links a {
  margin: 12px 10%;
  box-sizing: border-box;
}

.footer .content .social-links svg {
  color: #afafaf;
  background-color: transparent;
}

.footer .content .social-links .fa-github:hover {
  color: black;
}

.footer .content .social-links .fa-linkedin-in:hover {
  color: #3B5998;
}

.footer .content .social-links .fa-stack-overflow:hover {
  color: #F48024;
}


@import 'responsive/base';
@import 'responsive/phone';
@import 'responsive/tablet';
@import 'responsive/small-phone';
