coverage
django
djangorestframework
django-cors-headers
django-heroku
django-messages
django-user-agents
dj-database-url
gunicorn
mysqlclient
psycopg2-binary
pytest
pyyaml
python-decouple
ua-parser
user-agents
whitenoise