<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>{% block title %}Django Girls - start your journey with programming{% endblock %}</title>
    <meta name="description" content="{% block description %}Django Girls is a one-day workshop about programming in Python and Django for women.{% endblock %}">
    <meta name="keywords" content="programming, python, django, workshop, women, females">
</head>
<body>
<div class="page-wrap">
    {% block menu %}
    {% include 'global/menu.html' %}
    {% endblock %}

    {% block content %}{% endblock %}
</div>

{% block footer %}
{% include 'global/footer.html' %}
{% endblock %}
</body>
</html>