{% load static %}
{% load i18n %}

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% comment %}Translators: Menu links {% endcomment %}
                <li><a href="{% url 'core:about' %}">{% trans "About" %}</a></li>
                <li><a href="{% url 'contact:view' %}">{% trans 'Contact' %}</a></li>
            </ul>
        </div>
    </div>
</div>