@import "./terassa/base.scss";
@import "./terassa/animations.scss";
@import "./terassa/media-queries.scss";
@import "./terassa/reset.scss";
@import "./terassa/style.scss";

/* Header */
.navbar {
  background-color: unset;
}

.navbar .navbar-item {
  font-weight: bold;
}

.navbar .navbar-item:last-child {
  padding-left: 0;
}

.navbar .navbar-item:hover {
  background-color: unset;
}

.navbar .navbar-item.light-mode:hover {
  color: darkred;
}

.navbar .navbar-start .navbar-item.dark-mode {
  color: #3273dc
}

.navbar .navbar-menu.is-active.dark-mode {
  background-color: #10171e;
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.navbar .navbar-burger.dark-mode {
  color: white;
}

a {
  color: white;
}

.flag-icon-background {
  display: block;
  width: 1.6em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  background-position: 0;
  background-size: contain;
}

/* Body */
body, button, input, select, textarea {
  font-family: Merriweather, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  padding-top: 60px;
}

html.light-mode {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
}

html.dark-mode {
  background-color: #10171e;
  color: white;
  transition: background-color 0.3s ease;
}

.container-wrap.inside-content.dark-mode {
  color: white;
}

.title.dark-mode, h2.dark-mode, a.dark-mode {
  color: white;
}

.title.is-1 {
  margin-bottom: unset;
}

.container-wrap.inside-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.columns .column:nth-child(1) {
  padding-right: 0.1em;
}

.display-block {
  text-align: justify;
}

.about-image {
  margin-top: 25px;
  margin-bottom: 1em;
}

/* Form */
.contact__form {
	grid-template-areas: "name email" "phone subject" "msg msg" "submit submit";
}

.contact__field--phone {
  grid-area: phone;
}

.contact__field--subject {
  grid-area: subject;
}

.link-button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0 0.45rem;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.submit-button {
  background-color: darkred;
}

.submit-button.dark-mode {
  background-color: #3273dc;
}

/* Projects List */

.projects-list {
  margin: 25px 0 0;
}

.projects-list .project-content {
  overflow: auto;
  vertical-align: center;
  margin: 3em 0 0 0;
  display: flex;
}

.projects-list .project-image {
  float: left;
  margin-right: 1em;
}

.projects-list .project-image img {
  vertical-align: middle;
  border-radius: 10px;
}
.projects-list .project-info {
  text-align: justify;
}

.projects-list .project-info .project-link {
  font-weight: bold;
  font-size: 1.3em;
}

.projects-list .project-info .project-link.dark-mode {
  color: #3273dc;
}

.projects-list .project-info .project-link.dark-mode:hover {
  color: black;
  font-weight: bold;
}

.projects-list .project-info .project-link.light-mode {
  color: darkred;
}

.projects-list .project-info .project-link.light-mode:hover {
  color: black;
}

.coming-soon {
  margin-top: 1em;
}

/* Footer */
.footer .content .ad {
  margin: 3em 0.5em;
}

@import 'responsive/base';
@import 'responsive/phone';
@import 'responsive/tablet';
@import 'responsive/small-phone';
