@import "./bulma/custom.scss";
@import "./terassa/base.scss";
@import "./terassa/animations.scss";
@import "./terassa/media-queries.scss";
@import "./terassa/reset.scss";
@import "./terassa/style.scss";

/* Header */
.flag-icon-background {
  display: block;
  width: 2.3em;
  height: 2.2em;
  border-radius: 2px;
  background-position: 0;
  background-size: contain;
}

/* Body */
body {
  padding-top: 60px;
}

:root {
  --accent: #ffa000;
  transition: background-color 0.3s ease;
}

/* Dark mode */
:root.dark-mode {
  --primary: #3273dc;
  --primary-dark: #3273dc;
  --primary-light: #ffecb3;
  --primary-text: #212121;
  --secondary-text: #333333;
  --accent: #3273dc;
  --divider: #bdbdbd;
  --white: #fdfdfd;
  background-color: #121212;
  color: white;
  transition: background-color 0.3s ease;
}

:root.dark-mode .header {
  background-color: #272727;
  box-shadow: none;
}

:root.dark-mode .header .menu .menu__items a{
  color: white;
}

:root.dark-mode .toggle {
  color: #3273dc;
}

:root.dark-mode .content {
  color: white;
}

:root.dark-mode .section {
  color: white;
}

:root.dark-mode .contact {
  color: white;
}

.section__title {
  font-weight: bold;
}

.container-wrap.inside-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.display-block {
  text-align: justify;
}

.hero {
  height: 80vh;
  background-image: url("../images/about-picture.jpg");
  background-size: cover;
}

.card {
  width: 100%;
}

.card__body {
  display: flex;
  align-items: center;
}

/* Projects */
.message {
  width: 100%;
  max-width: 900px;
}

/* Form */
.contact {
  min-height: 79vh;
}

.contact__form {
  grid-template-areas: "message message" "name email" "phone subject" "msg msg" "submit submit";
}

.contact__form .form-message {
  grid-area: message;
  margin-bottom: 1em;
}

.contact__field--phone {
  grid-area: phone;
}

.contact__field--subject {
  grid-area: subject;
}

.language-switcher {
  display: inline-flex;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  padding-bottom: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.submit-button {
  background-color: darkred;
}

.submit-button.dark-mode {
  background-color: #3273dc;
}

/* Projects List */
.projects-list .project-image {
  float: left;
  margin-right: 1em;
}

.projects-list .project-image img {
  vertical-align: middle;
  border-radius: 10px;
}

.projects-list .project-info {
  text-align: justify;
}

.projects-list .project-description {
  margin-bottom: 0.25em!important;
}

.projects-list .project-info .project-link {
  font-weight: bold;
  font-size: 1.3em;
}

.projects-list .project-info .project-link.dark-mode {
  color: #3273dc;
}

.projects-list .project-info .project-link.dark-mode:hover {
  color: black;
  font-weight: bold;
}

.projects-list .project-info .project-link.light-mode {
  color: darkred;
}

.projects-list .project-info .project-link.light-mode:hover {
  color: black;
}

/* Footer */
.grecaptcha-badge {
  z-index: 9999999;
}

.copy {
  color: white;
}

.footer .content .ad {
  margin: 3em 0.5em;
}

@import 'responsive/phone';
@import 'responsive/tablet';
